@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("/assets/fonts/SFPro-400.woff2") format("woff2");
}

@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url("/assets/fonts/SFPro-600.woff2") format("woff2");
}

@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("/assets/fonts/SFPro-700.woff2") format("woff2");
}
